@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kiwi+Maru:wght@500&display=swap');

body {
  background-color: beige;
}

.container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 73px;
  font-family: 'Satisfy', cursive, sans-serif;
  margin-left: 25px;
  margin-bottom: 12px;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Satisfy', cursive, sans-serif;
  color: black;
  margin: 0 auto;
}

/* ------ Announce winner------ */


#winner {
  margin-left: 1em;
}

/* ------ Player name input section ------ */

.player-lable {
  font-family: 'Kiwi Maru', sans-serif;
  font-size: 18px;
}

.form-control {
  font-family: 'Kiwi Maru', sans-serif;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  outline: none;
  border: 4px solid #e0e0c0;
  padding: 5px 10px;
  text-transform: center;
}

.form-group1 {
  margin-left: 70px;
  outline: none;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  display: inline-block;
}

.form-group2 {
  margin-left: 12px;
  outline: none;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  margin-top: 16px;
  display: inline-block;
}

#player1-validation{
  font-size: 10px;
  margin-left: 9em;
}

#player2-validation{
  font-size: 10px;
  margin-left: 9em;
}

/* ------ Token styling ------ */

.assign_token {
  margin-top: 18px;
}

.button1 {
  display: inline-block;
  margin-left:14.5em;
  outline: none;
  border: 4px solid #e0e0c0;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  font-family: 'Kiwi Maru', sans-serif;
}

.button2 {
  display: inline-block;
  outline: none;
  border: 4px solid #e0e0c0;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  font-family: 'Kiwi Maru', sans-serif;
  margin-left: 50px;
}

.choose-token {
  font-family: 'Kiwi Maru', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-left: 3em;
}

/* ------ Reset button to clear the board ------ */

.reset_button {
  outline: none;
  border: 4px solid #e0e0c0;
  padding: 10px 26px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  display: block;
  margin-bottom: 32px;
  font-family: 'Kiwi Maru', sans-serif;
  margin-top: 20px;
  margin-left: 14em;
}

/* ------ All buttons hover styling------ */

button:hover {
  cursor: pointer;
  background: #e0e0c0;
  color: black;
}

/* ------ Game Board Creation------ */

.game {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10em;
}

.row {
  width: 330px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.column {
  height: 100px;
  width: 100px;
  font-size: 80px;
  text-align: center;
  line-height: 100px;
  display: inline-block;
}

.column:hover {
  background-color: #e0e0c0;
  cursor: pointer;
}

.border-bottom {
  border-bottom: 5px solid black;
}

.border-right {
  border-right: 5px solid black;
  display: inline-block;
}

/* ------ Option to hide text when needed ------ */

.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* ------ Player turns ------ */

#player-turn {
font-family: 'Kiwi Maru';
margin-left: 13em;
font-size: 18px;
}

/* ------ Animation on winning combination ------ */

.winning-combination {
      font-size: 80px;
      color: black;
      text-align: center;
      animation: glowing 1s ease-in-out infinite alternate;
   }
   @-webkit-keyframes glowing{
      from {
         text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5dd221, 0 0 40px #1f8c57, 0 0 50px #2d8232, 0 0 60px #1fb532, 0 0 70px #1f0352;
      }
}

/* ------ Scoreboard styling ------ */

#scoreboard {
  margin-left: 15em;
  margin-top: 2em;
}

#scoreboard .score {
  text-align: center;
  font-size: 30px;
}

.player {
  font-family: 'Kiwi Maru', sans-serif;
}

#playerscore1 {
  color: #ED676B;
  font-family: 'Kiwi Maru', sans-serif;
}

#playerscore2 {
  color: #23916B;
  font-family: 'Kiwi Maru', sans-serif;
}
